{{ partial "header" . }}
{{ $baseurl := .Site.BaseURL | sanitizeurl }}
{{ $author := .Site.Params.Author }}
{{ if .Params.Author }}
    {{ $author = .Params.Author }}
{{ end }}
<main>
<div id="content">
    <article class="h-entry">
        <header>
            <h4 class="post-title p-name">{{ .Title }}</h4>
                {{ if not .Params.Menu }}
            <p class="post-date">
                <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                {{ .PublishDate.Format "2 January, 2006" }}
                </time> {{ if $author }} by <a href="{{ .Site.BaseURL }}" class="p-author h-card" rel="author">{{ $author }}</a>{{ end }}
            </p>
            {{ end }}
            {{ if .Params.tags }}
            <hr class="post-underline">
            <p class="post-tag">
            {{ range .Params.tags }}
                <a href="{{ $baseurl }}/tags/{{ . | urlize }}" class="post-tag p-category"><kbd class="item-tag">{{ . }}</kbd></a>
            {{ end }}
            </p>
            {{ end }}
        </header>
    <br>         
    <section class="content e-content">
    <div class="text-justify">{{ .Content }}</div>
    </section>
    <!-- related posts with the same tags -->
    {{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "post") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}

    {{ if $related }}

        <h4 class="page-header">Related</h4>

        {{ range $related }} {{ partial "list-item" . }} {{ end }}

    {{ end }}
    <h4 class="page-header">Webmentions</h4>
    <div class="post-mentions" id="post-mentions" style="display:none">
        <ul class="mentions-list" id="mentions-list"></ul>
    </div>
    <script type="text/javascript">
    $(document).ready(function(){
       var webmention = "https://webmention.io/api/mentions.jf2?";
       domain = window.location.origin;
       post_url = window.location.href;
       $.getJSON(webmention + "target=" + domain + "/&url=" + post_url, function(data){
        if (data["children"] != null) {
            //console.log(data["children"][0]);
            var mention_items = [];
            $.each(data["children"], function(item,val){
            if (val["wm-property"].includes("reply")) {
                var action = val["wm-property"].replace("-"," ").replace("-"," ");
            } else {
                var action = val["wm-property"].replace("-of","") + "ed";     
            };
            mention_items.push( "<li><a href='" + val["author"]["url"] + "'>" + val["author"]["name"] + "</a>" + action + " " + val["url"] + "</li>" );
            });
         };
         $("#post-mentions").show("fast");
         $( "#mentions-list" ).html(mention_items.join( "" ));
      });
    });
    </script>

    {{ if and .Site.DisqusShortname (not .Params.disableComments) }}

        <h4 class="page-header">Comments</h4>

        {{ template "_internal/disqus.html" . }}

    {{ end }}

</main>
{{ partial "footer.html" . }}
