{{ partial "header" . }}
{{ $baseurl := .Site.BaseURL | sanitizeurl }}
{{ $author := .Site.Params.Author }}
{{ if .Params.Author }}
    {{ $author = .Params.Author }}
{{ end }}
<main>
<div id="content">
    <article class="h-entry">
        <header>
            <h4 class="post-title p-name">{{ .Title }}</h4>
                {{ if not .Params.Menu }}
            <p class="post-date">
                <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                {{ .PublishDate.Format "2 January, 2006" }}
                </time> {{ if $author }} by <a href="{{ .Site.BaseURL }}" class="p-author h-card" rel="author">{{ $author }}</a>{{ end }}
            </p>
            {{ end }}
            {{ if .Params.tags }}
            <hr class="post-underline">
            <p class="post-tag">
            {{ range .Params.tags }}
                <a href="{{ $baseurl }}/tags/{{ . | urlize }}" class="post-tag p-category"><kbd class="item-tag">{{ . }}</kbd></a>
            {{ end }}
            </p>
            {{ end }}
        </header>
    <br>         
    <section class="content e-content">
    <div class="text-justify">{{ .Content }}</div>
    </section>
    <!-- related posts with the same tags -->
    {{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "post") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}

    {{ if $related }}

        <h4 class="page-header">Related</h4>

        {{ range $related }} {{ partial "list-item" . }} {{ end }}

    {{ end }}
    <h4 class="page-header">Webmentions</h4>
    <div class="post-mentions" id="post-mentions" style="display:none">
        <ul class="mentions-list" id="mentions-list"></ul>
    </div>
    <script type="text/javascript">
         var post_url = window.location.href;

        $(document).ready(function(){	
            $("ul#mentions-list").empty();
          $.getJSON("https://webmention.io/api/mentions?jsonp=?", {
            target: post_url
          }, function(data){
            var social_media_likes = "";
            var social_media_repost = "";
            var social_media_post = "";
            if(data.links.length !== 0){
                $("#post-mentions").show();
            }
            $.each(data.links, function(i, v){
                var activity_type = data.links[i].activity.type;
                  
                if(data.links[i].data.author && data.links[i].data.author.name){
                var men_content = "";
                if(activity_type && activity_type == "like"){
                  if(!social_media_likes){
                    social_media_likes = "<li class=\"mention-social\"> ";
                  }
                  social_media_likes = social_media_likes + 
                  "<a href=\"" + data.links[i].data.url + "\">"
                    + data.links[i].data.author.name + "</a>, ";
                } else if(activity_type && activity_type == "repost"){
                  if(!social_media_repost){
                    social_media_repost = "<li class=\"mention-social\"> ";
                  }
                  social_media_repost = social_media_repost + 
                  "<a href=\"" + data.links[i].data.url + "\">"
                    + data.links[i].data.author.name + "</a>, ";
                } else if(activity_type && activity_type == "link"){
                  if(!social_media_post){
                    social_media_post = "<li class=\"mention-social\"> ";
                  }
                  social_media_post = social_media_post + 
                  "<a href=\"" + data.links[i].data.url + "\">"
                    + data.links[i].data.author.name + "</a>, ";
                } else if(activity_type && activity_type == "reply"){
                      let mention_date = new Date(data.links[i].verified_date);
                    if(data.links[i].data.content) {
                      men_content = data.links[i].data.content;
                    }
                  $("ul#mentions-list").prepend( "<li class=\"mention\">"
                    + "<div class=\"mention-author u-author\">" 
                    + "<img src=\"" + data.links[i].data.author.photo + "\" class=\"u-photo\"" 
                    + "title=\"" + data.links[i].data.author.name + "\" width=\"40\" >" 
                    + "<a href=\"" + data.links[i].data.author.url + "\" >"
                    + data.links[i].data.author.name + "</a> replied:</div>"
                    + "<div class=\"mention-text\">" + men_content + "</div>"
                    + "<a href=\"" + data.links[i].data.url + "\">"
                    + "<time>" + mention_date.getUTCDate() + "/" + (mention_date.getUTCMonth() + 1) 
                    + "/" + mention_date.getUTCFullYear()
                  + "</time></a>"
                  + "</li>");
                }
               }	
            });
            if(social_media_post){
                social_media_post = social_media_post.substr(0, social_media_post.length - 2);
                social_media_post = social_media_post + " <span class=\"commented\">linked to this.</span></li>";
                $("ul#mentions-list").prepend(social_media_post);
            }			
            if(social_media_repost){
                social_media_repost = social_media_repost.substr(0, social_media_repost.length - 2);
                social_media_repost = social_media_repost + " <span class=\"commented\">reposted this.</span></li>";
                $("ul#mentions-list").prepend(social_media_repost);
            }
            if(social_media_likes){
                social_media_likes = social_media_likes.substr(0, social_media_likes.length - 2);
                social_media_likes = social_media_likes  + " <span class=\"commented\">liked this.</span></li>";
                $("ul#mentions-list").prepend(social_media_likes);
            }
          });
        });
    </script>

    {{ if and .Site.DisqusShortname (not .Params.disableComments) }}

        <h4 class="page-header">Comments</h4>

        {{ template "_internal/disqus.html" . }}

    {{ end }}

</main>
{{ partial "footer.html" . }}
